
/* ******************************************************************************************************
                                        Default Nav
********************************************************************************************************/
.meta-nav {
    min-height: 30px;
    background: #000000;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.meta-nav p{
    margin-bottom: 0;
}

.meta-ieee-logo {
    margin: -2px 0px 0px 0px;
    float:right;
}

@media (max-width: 800px) {
    .meta-nav {
        max-height: 40px;
        background: #000000;
        color: #ffffff;
        padding: 0px;
        margin: 0px;
    }
    .meta-ieee-logo {
        padding: 20px 0px 0px 0px;
        float:right;
    }


    p {
        font-family: inherit;
        font-size: .9em;
        line-height: 125%;
        border: 0;
        margin: 0;
    }
}

#ieee-meta-a {
    color: #fff;
    text-align: left;
    padding: 11px 36px;
}

#ieee-meta-a a:link, #ieee-meta-a a:visited, #ieee-meta-a a:active {
    color: #fff;
    text-decoration: none;
}

#ieee-meta-a a:hover {
    color: #fff;
    text-decoration: underline;
}