/* ******************************************************************************************************
                                        Universal Styles
********************************************************************************************************/
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

section{
    height: 100vh;
}


/* ******************************************************************************************************
                                        Main Nav Styles
********************************************************************************************************/
.nav-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    width: 100%;
    padding-top: 40px;
 
}
#nav{
    display: inline-block;
}
.nav-bar{
    background-color: rgba(0, 0, 0, 0);
    padding-left: 36px;
    padding-right: 36px;
    height: 100px;
}
.nav-brand{
    display: inline-block;
}

.nav-brand img{
    height: 70px;
    padding-top: 15px;
}
.nav-list{
    float: right;
    padding-top: 40px;
}

.nav-list li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
}


/* 


.site-header .header-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 40px 0;
  }
  
  .header-bar .site-branding {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
  }
  
  .header-bar .site-branding a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }
  .classy-navbar {
  height: 42px;
  }
.header-area.sticky {
    background-color: #000000;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  }
  .header-area.sticky .classy-navbar {
    height: 75px;
  }
  
 */


/* ******************************************************************************************************
                                        Home Styles
********************************************************************************************************/
.slider-content{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
}

.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  top: 50%;
  left: 0%;
  color: #fff !important;
  transform: translate(0%,-50%);
}
.owl-carousel .owl-nav button.owl-prev span{
  display: inline-block;
  height:60px;
  width: 50px;
  font-size: xx-large;
}
/* padding: 30px !important; */
.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  top: 50%;
  right:0%;

  color: #fff !important;
  transform: translate(0%,-50%); 
}
.owl-carousel .owl-nav button.owl-next span{
  display: inline-block;
  height:60px;
  width: 50px;
  font-size: xx-large;
}
.owl-theme .owl-dots {
  position: absolute;
  top: 95%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #00629B;
  color: #FFF;
  text-decoration: none; 
}
.owl-theme .owl-nav .disabled {
  opacity: 0.25;
  cursor: default; 
}

/* .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; 
} */


.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline; 
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; 
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00629B; 
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #00629B;
  color: #FFF;
  text-decoration: none; 
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; 
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; 
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline; 
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; 
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00629B; 
}

.owl-carousel .owl-item img{
  height: 100vh;
}


/* ******************************************************************************************************
                                        Home Styles
********************************************************************************************************/


.ho{
    background-color: #ff0000;
}
.te{
    background-color:#00ff00;
}